<div>
<a style="color: rgb(6, 37, 31) ;font-size: 50px;">
      <img src="/img/img01.png" alt="img02" style="width: 200ps;height: 60%;" /> 
      
</a>
{{#if fortune}}
 <h2>Chuc mung ban trung thuong  => {{fortune}} </h2>
 
{{/if}}
</div>
<div  style="float: right;" >

</div>


